{
    "Lua.runtime.version": "LuaJIT",
    "Lua.diagnostics.globals": [
        "love",
        "jit",
        "lldebugger",
        "config",
    ],
    "Lua.workspace.checkThirdParty": false,
    "Lua.workspace.library": [
        "${3rd}/love2d/library"
    ],
    "Lua.diagnostics.disable": [
        // some of our libraries are cross-compatible and get flagged
        "deprecated",
        // we obviously still have a lot of those :-(
        "lowercase-global",
        // LuaCATS ---@module annotation causes a luadoc error but we don't use luadoc
        "luadoc-miss-module-name",
    ],
    "Lua.diagnostics.ignoredFiles": "Disable",
    "Lua.workspace.ignoreDir": [
        ".vscode",
        // these would flag duplicate functions otherwise as they also define love callbacks
        "testLauncher.lua",
        "verificationLauncher.lua"
    ]
}